DOMAIN:  https://werkspot.nl
artifact path:  https://gitlab.com/silentimp/lighthouse-comment/-/jobs/artifacts/master/raw/performance.json?job=lighthouse
https://gitlab.com/api/v4/projects/15506600/merge_requests?target_branch=master&source_branch=experiment
8_f4jHEdP8aEsLXW6JAY
response:  true
https://gitlab.com/api/v4/projects/15506600/merge_requests/1/notes

        <h2>/wachtwoord-herstellen-otp</h2>
        <table>
          <tr>
            <th>Performance</th>
            <th>Accessibility</th>
            <th>Best Practices</th>
            <th>SEO</th>
            <th>Progressive Web App</th>
          </tr>
          <tr>
            <td>0.72 was 0.64, 🔻 +0.08</span></td>
            <td>0.98</td>
            <td>0.93</td>
            <td>0.91</td>
            <td>0.74</td>
          </tr>
        </table>
      


        <h2>/wachtwoord-herstellen-otp</h2>
        <table width="100%">
          <thead>
            <tr>
              <th>Performance</th>
              <th>Accessibility</th>
              <th>Best Practices</th>
              <th>SEO</th>
              <th>Progressive Web App</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.7 was 0.68, <span style="color: green">larger by +0.02</span></td>
              <td>0.96</td>
              <td>0.93</td>
              <td>0.91</td>
              <td>0.74</td>
            </tr>
          </tbody>
        </table>
      


        <h2>/lp/service</h2>
        <table width="100%">
          <thead>
            <tr>
              <th>Performance</th>
              <th>Accessibility</th>
              <th>Best Practices</th>
              <th>SEO</th>
              <th>Progressive Web App</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.55 was 0.42, <span style="color: green">larger by +0.13</span></td>
              <td>0.86</td>
              <td>0.93</td>
              <td>0.83</td>
              <td>0.74</td>
            </tr>
          </tbody>
        </table>
      


        <h2>/send-request-to/ww-tammer</h2>
        <table width="100%">
          <thead>
            <tr>
              <th>Performance</th>
              <th>Accessibility</th>
              <th>Best Practices</th>
              <th>SEO</th>
              <th>Progressive Web App</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.75 was 0.62, <span style="color: green">larger by +0.13</span></td>
              <td>0.67</td>
              <td>0.93</td>
              <td>0.83</td>
              <td>0.74</td>
            </tr>
          </tbody>
        </table>
      


        <h2>/post-service-request/binnenschilderwerk</h2>
        <table width="100%">
          <thead>
            <tr>
              <th>Performance</th>
              <th>Accessibility</th>
              <th>Best Practices</th>
              <th>SEO</th>
              <th>Progressive Web App</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.64 was 0.38, <span style="color: green">larger by +0.26</span></td>
              <td>0.96 was 0.83, <span style="color: green">larger by +0.13</span></td>
              <td>1</td>
              <td>0.91 was 0.83, <span style="color: green">larger by +0.08</span></td>
              <td>0.74</td>
            </tr>
          </tbody>
        </table>
      
ok:  false
error:  { FetchError: invalid json response body at https://gitlab.com/api/v4/projects/15506600/merge_requests/1/notes reason: Unexpected end of JSON input
    at /Users/silentimp/Work/lighthouse-comment/node_modules/node-fetch/lib/body.js:48:31
    at process._tickCallback (internal/process/next_tick.js:68:7)
  name: 'FetchError',
  message:
   'invalid json response body at https://gitlab.com/api/v4/projects/15506600/merge_requests/1/notes reason: Unexpected end of JSON input',
  type: 'invalid-json' }
